{% extends 'base.html.twig' %}

{% block title %}
  Hello HomeController!
{% endblock %}

{% block body %}
  <!-- Début Navbar -->
  {% include 'partials/_navbar.html.twig' %}
  <!-- Fin Navbar -->

  <!-- Début Section Bannière -->
  <div>
    <section class="mb-40 overflow-hidden">
      {% include 'home/layout/_header.html.twig' %}
    </section>
  </div>
  <!-- Fin section Bannière -->

  <!-- Début Section à propos -->
  <div class="container my-24 px-6 mx-auto">
    <section class="mb-32 text-gray-800">
      {% include 'home/layout/_profil.html.twig' %}
    </section>
  </div>
  <!-- Fin section à propos -->

  <!-- Début Section Projet -->
  <div class="container my-24 px-6 mx-auto">
    <section class="mb-32 text-gray-800 text-center">
      <h2 class="text-3xl font-bold mb-12 text-center">Latest articles</h2>
      <div class="grid lg:grid-cols-3 gap-6 xl:gap-x-12">
        {% include 'components/_card.html.twig' %}
      </div>
      <div class="mt-6">
        <button type="button" class="inline-block px-7 py-3 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light">Voir plus</button>
      </div>
    </section>
  </div>
  <!-- Fin section projet -->

  <!-- Début Section Contact -->
  <div class="container my-24 px-6 mx-auto">
    <section class="mb-32 text-gray-800">
      <div class="relative overflow-hidden bg-no-repeat bg-cover" style="background-position: 50%; background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg'); height: 300px;"></div>
      {% include 'home/layout/_contact.html.twig' %}
    </section>
  </div>
  <!-- Fin section Contact -->
{% endblock %}
